<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Tickets</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="assets/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/html" href="assets/vendor/bootstrap/css/bootstrap.min.css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/html" href="assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/html" href="assets/fonts/iconic/css/material-design-iconic-font.min.css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/html" href="assets/vendor/animate/animate.css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/html" href="assets/vendor/css-hamburgers/hamburgers.min.css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/html" href="assets/vendor/animsition/css/animsition.min.css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/html" href="assets/vendor/select2/select2.min.css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/html" href="assets/vendor/daterangepicker/daterangepicker.css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/html" href="assets/css/util.css"/>
    <link rel="stylesheet" type="text/html" href="assets/css/main.css"/>
    <!--===============================================================================================-->
</head>
<body>


<div class="container-login100" style="background-image: url('assets/images/bg-01.jpg');">
    <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
        <form class="login100-form validate-form" th:action="@{/login}" method="post">
				<span class="login100-form-title p-b-37">
					Sign In
				</span>
            <div th:if="${param.error}">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}">
                You have been logged out.
            </div>

            <div class="wrap-input100 validate-input m-b-20" data-validate="Enter username">
                <input class="input100" type="text" name="username" placeholder="username"/>
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input m-b-25" data-validate="Enter password">
                <input class="input100" type="password" name="password" placeholder="password" autofocus="autofocus"/>
                <span class="focus-input100"></span>
            </div>

            <div class="container-login100-form-btn">
                <input type="submit" value="Sign In" class="login100-form-btn"/>
            </div>

            <div class="text-center p-t-57 p-b-20">
					<span class="txt1">
						Or login with
					</span>
            </div>

            <div class="flex-c p-b-112">
                <a href="#" class="login100-social-item">
                    <i class="fa fa-facebook-f"></i>
                </a>

                <a href="#" class="login100-social-item">
                    <img src="assets/images/icons/icon-google.png" alt="GOOGLE"/>
                </a>
            </div>

            <div class="text-center">
                <a href="#" class="txt2 hov1">
                    Sign Up
                </a>
            </div>
        </form>


    </div>
</div>


<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script type="text/html" src="assets/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script type="text/html" src="assets/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script type="text/html" src="assets/vendor/bootstrap/js/popper.js"></script>
<script type="text/html" src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script type="text/html" src="assets/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script type="text/html" src="assets/vendor/daterangepicker/moment.min.js"></script>
<script type="text/html" src="assets/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script type="text/html" src="assets/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script type="text/html" src="assets/js/main.js"></script>

</body>
</html>